body {
  margin: 0;

  div.tater-component {
    div.tater-header {
      background-color: #DDDDDD;
      width: auto;
      padding: 10px;
      font-family: BlinkMacSystemFont, Monaco;

      label {
        font-size: 14px;
        font-weight: bold;
        font-family: BlinkMacSystemFont, Monaco;
        margin-right: 5px;
      }

      select {
        height: 28px;
        font-size: 14px;
        margin-right: 10px;
      }

      div.input-wrapper {
        display: inline;
      }

      div.DateRangePicker {
        input.DateInput__input {
          font-size: 14px;
        }
      }
    }

    div#tater-chart {
      width: auto;
      margin: 20px;
    }
  }
}
